#CSE 101: Computer Science Principles
####Stony Brook University, Summer 2020

### Homework Assignment #4

#### Due: Sunday, June 21, 2020 at 11:59 pm EDT

#### Learning Outcomes
By the end of these exercises you should be able to:
* Use for-loops to process strings and lists.
* Implement algorithms that use logical operators.
* Implement simple algorithms using with while-loops.

#### Part 1: Armstrong Number ( 20 points )

An Armstrong number of three digits is an integer such that the sum of the cubes of its digits is equal to thenumber itself. For example, 371 is an Armstrong number becase $3^3 + 7^3 + 1^3 = 371$.

Write a function `armstrong_number()` that takes two arguments, in this order:
  1. `a`: a positive integer in the range [0,999], inclusive.
  1. `b`: a positive integer in the range [0,999], inclusive.

The function returns a Python list containing the Armstrong numbers within the range [`a`, `b`] in ascending order. If `a` or `b` is outside the range 0−999 or if `a` > `b`, the function simply returns an empty list, `[]`. 

Expected Results:

Function Call | Return Value
:-- | :--
`armstrong_number(100, 0)` | `[]`
`armstrong_number(0, 100)` | `[0, 1]`
`armstrong_number(0, 999)` | `[0, 1, 153, 370, 371, 407]`
`armstrong_number(50, 100)` | `[]`
`armstrong_number(0, 0)` | `[0]`
`armstrong_number(371, 371)` | `[371]`

In [ ]:
def armstrong_number(a, b):
    armstrong_numbers = []
    if a == b:     
        b += 1

    for n in range(a,b):
        hundreds = n // 100
        tens = (n - hundreds*100) // 10
        ones = n - hundreds*100 - tens*10

        if hundreds**3 + tens**3 + ones**3 == n:
            armstrong_numbers.append(n)

    return armstrong_numbers

    
print(armstrong_number(100, 0))
print(armstrong_number(0, 100))
print(armstrong_number(0, 999))
print(armstrong_number(50, 100))
print(armstrong_number(0, 0))
print(armstrong_number(371, 371))

[]
[0, 1]
[0, 1, 153, 370, 371, 407]
[]
[0]
[371]

#### Part 2: Average Speed of a Runner (20 points)

A person starts from point (x1, y1) on a two-dimensional plane and runs to point (x2, y2) in time `t` seconds. The distance she covered can either be in ft or in km or in miles.  Write a function `average_speed()` that takes the following arguments, in this order:
1. `x1`: a number that indicates the x-coordinate of her starting position.
2. `y1`: a number that indicates the y-coordinate of her starting position.
3. `x2`: a number that indicates the x-coordinate of her finishing position.
4. `y2`: a number that indicates the y-coordinate of her finishing position.
5. `unit_from`: a string to indicate the unit of the distance the runner actually covered. See below.
  * a value of `'ft'` means that the distance covered is in feet.
  * a value of `'km'` means that the distance covered is in kilometers.
  * a value of `'mile'` means that the distance covered is in miles.
6. `unit_to`: a string to indicate the unit which you need to express the average speed in. See below.
  * a value of `'ft'` means that the average speed should be returned in feet/hour.
  * a value of `'km'` means that the average speed should be returned in kilometers/hour.
  * a value of `'mile'` means that the average speed should be returned in miles/hour.
7. `t`: a number that indicates the time (in seconds) taken to cover the distance  

For arguments #5 and #6, you may assume that the argument is only one of the three valid values given.  For argument #7 you may assume that the value is positive.

The function returns the average speed of the person in ft/hour or km/hour or miles/hour based on the argument `unit_to`.

Although your function may assume that `unit_from` and `unit_to` will only take on the values `'ft'`, `'ft'` or `'mile'`, there is no guarantee that `unit_from` $\ne$ `unit_to`.

Use the following formulas for unit conversion: 1 mile = 1.61 km = 5280 ft

Function Call | Return Value
:-- | :--
`average_speed(0, 0, 3, 4, 'km', 'mile', 1500)` | `7.453416149068322`
`average_speed(0, 0, 12, 5, 'ft', 'km', 13)` | `1.0977272727272729`
`average_speed(0, 0, 3, 4, 'mile', 'ft', 1000)` | `95040.0`
`average_speed(0, 0, 12, 5, 'mile', 'km', 13000)` | `5.796`
`average_speed(0, 0, 3, 4, 'km', 'ft', 2000)` | `29515.527950310556`
`average_speed(0, 0, 3, 4, 'km', 'km', 5000)` | `3.6`

In [ ]:
import math
def average_speed(x1, y1, x2, y2, unit_from, unit_to, t):

    distance = math.sqrt((x1 - x2)**2 + (y1 - y2)**2)
    time = t/3600

    if unit_from != unit_to:
        if unit_from == 'mile' and unit_to == 'km':
            distance *= 1.61
        elif unit_from == 'mile' and unit_to == 'ft':
            distance *= 5280
        elif unit_from == 'km' and unit_to == 'mile':
            distance /= 1.61
        elif unit_from == 'km' and unit_to == 'ft':
            distance *= 5280/1.61
        elif unit_from == 'ft' and unit_to == 'mile':
            distance /= 5280
        elif unit_from == 'ft' and unit_to == 'km':
            distance *= 1.61/5280
            
    speed = distance/time

    return speed

        
            

print(average_speed(0, 0, 3, 4, 'km', 'mile', 1500))
print(average_speed(0, 0, 12, 5, 'ft', 'km', 13))
print(average_speed(0, 0, 3, 4, 'mile', 'ft', 1000))
print(average_speed(0, 0, 12, 5, 'mile', 'km', 13000))
print(average_speed(0, 0, 3, 4, 'km', 'ft', 2000))
print(average_speed(0, 0, 3, 4, 'km', 'km', 5000))

7.453416149068322
1.0977272727272729
95040.0
5.796
29515.527950310556
3.6

#### Part 3: Starry Pascal's Triangle (20 points)

In mathematics, Pascal's Triangle is a triangular arrangement of numbers where a number in a line is the summation of two numbers from the line above. Given below is the Pascal's triangle up to line 5.

```
1
1   1
1   2   1
1   3   3   1
1   4   6   4   1
```

If we replace every number in a Pascal’s triangle with a *, we get a starry Pascal's triangle.  A starry Pascal’s triangle up to line 5 looks like this:

```
*
*   *
*   *   *
*   *   *   *
*   *   *   *   *
```

Write a function `starry_pascal_triangle()` that takes the following arguments, in this order:

1. `line`: an integer that indicates the number of lines in the starry Pascal’s triangle.
2. `space_count`: an integer that indicates the number of space(s) to put between any two adjacent stars in a line.

The function should return a starry Pascal's triangle in form of a string. **Your function must not contain any `print` statements!**

If either of `line` or `space_count` is negative, you should return an empty string.

Note: The and `-` the `\n` symbols in the following examples are for visualization purposes only.  They will not be present in the actual test cases. You must use space in place of `-`.


Function Call | Return Value
:-- | :--
`starry_pascal_triangle(5, 3)` | `'*\n*---*\n*---*---*\n*---*---*---*\n*---*---*---*---*"'`
`starry_pascal_triangle(-1, 0)` | `''`
`starry_pascal_triangle(0, 0)` | `''`
`starry_pascal_triangle(1, 10)` | `'*'`
`starry_pascal_triangle(5, 0)` | `'*\n**\n***\n****\n*****'`
`starry_pascal_triangle(5, 1)` | `'*\n*-*\n*-*-*\n*-*-*-*\n*-*-*-*-*'`
`starry_pascal_triangle(5, 3)` | `'*\n*---*\n*---*---*\n*---*---*---*\n*---*---*---*---*"'`

When printed, the returned strings above will resemble the following output:

```
*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

(2nd and 3rd test cases are empty strings)

*

*
**
***
****
*****

*
* *
* * *
* * * *
* * * * *

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *
```

In [ ]:
def starry_pascal_triangle(line, space_count):
    starry = ''
    if line <= 0:
        return starry
    
    for i in range(line):
        if i == 0:
            starry += '*\n'
        else:
            starry += i*('*' + space_count*' ') + '*\n'

    return starry




print(starry_pascal_triangle(5,3))
print(starry_pascal_triangle(-1,0))
print(starry_pascal_triangle(0,0))
print(starry_pascal_triangle(1,10))
print(starry_pascal_triangle(5,0))
print(starry_pascal_triangle(5,1))
print(starry_pascal_triangle(5,3))

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *



*

*
**
***
****
*****

*
* *
* * *
* * * *
* * * * *

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

#### Part 4: Number to Word Conversion

Write a function `number_word()` that takes only one argument:

* `number`: a positive integer in the range [1, 9999]

The function converts the number to a string representing the same number in words and returns it.
For example, the function call `number_word(1111)` returns the string "one thousand one hundred eleven".

Note: You must use exactly ONE space character between each word. Do not hyphenate words like "thirty-five".

This problem is not as hard as it might sound initially. Definitely use a dictionary that maps numbers to words (you do NOT need hundreds of these mappings). For instance, include mappings of 1 to "one", 2 to "two", ... and also 20 to "twenty", 30 to "thirty" and so on. 

Function Call | Return Value
:-- | :--
`number_word(8))` | `'eight'`
`number_word(27))` | `'twenty seven'`
`number_word(91))` | `'ninety one'`
`number_word(742))` | `'seven hundred forty two'`
`number_word(6000))` | `'six thousand'`
`number_word(2080))` | `'two thousand eighty'`
`number_word(8410))` | `'eight thousand four hundred ten'`

In [ ]:
def number_word(number):
    words = {0: '',
        1: 'one ', 2: 'two ', 3: 'three ', 4: 'four ', 5: 'five ', 6: 'six ', 7: 'seven ', 8: 'eight ', 9: 'nine ', 10: 'ten',
        11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 16: 'sixteen', 17: 'seventeen', 18: 'eighteen', 19: 'nineteen',
        20: 'twenty ', 30: 'thirty ', 40: 'forty ', 50: 'fifty ', 60: 'sixty ', 70: 'seventy ', 80: 'eighty ', 90: 'ninety '
        }
    if number in words:
        return words[number]

    ones = number % 10 
    word = words[ones]
    if number >= 10:
        tens = number % 100 - ones
        word = words[tens] + word
        if number >= 100:
            hundreds = (number % 1000 - tens - ones) // 100
            if hundreds != 0:
                word = words[hundreds] + 'hundred '+ word
            if number >= 1000:
                thousands = (number % 10000 - hundreds - ones) // 1000
                if thousands != 0:
                    word = words[thousands] + 'thousand ' + word
    

    return word
        
        
    

print(number_word(8))
print(number_word(27))
print(number_word(91))
print(number_word(742))
print(number_word(6000))
print(number_word(2080))
print(number_word(8410))

eight
twenty seven
ninety one
seven hundred forty two
six thousand
two thousand eighty
eight thousand four hundred ten

#### Part 5: Shopping Cart


Write a function `shopping_cart()` that takes two arguments, in this order:

1. `filename`:  a CSV (comma-separated values) file that you will need to read in.  The file contains at least several lines of grocery items and their corresponding prices. In each line, the format is:  `name of product,price per unit`.
  * For example, a line of the file might look like this: `soda,2.5`.
  
2. `orders`: a list of tuples that represents a list of things that you want to buy during this shopping trip. The format is:

  `[(name of product 1, how much of product 1 you want), (name of product 2, how much of product 2 you want), ...]`

  For example:`[('Pringles', 3), ('Butter', 1)]` means you are buying 3 units of Pringles and 1 unit of Butter.

The function processes the `orders` list and uses the price list from the file to compute and then return the total cost of the shopping list.  If the `orders` list is empty, returns the floating-point number `0.0`.  If there is an item in the shopping list that does not exist in the file, skip the item and continue processing the rest of the shopping list.

A suggestion: build a dictionary based on the file contents and use it to look up product prices by names.

Note that content like `Pringles,1.48` in the CSV file is a string,  so you will need to convert the 1.48 portion to a floating-point number when calculating the total price. For example,`float('1.48')`would return the floating-point value 1.48.

Examples:

Contents of [`prices1.csv`](https://www.cs.stonybrook.edu/~ktm/courses/cse101/colab_files/prices1.csv):
  * soda,1.5
  * ground turkey,1.19
  * apples,0.99
  * bananas,0.39
  * pears,1.25
  * tomatoes,1.98
  * beef,5.79

Contents of [`prices2.csv`](https://www.cs.stonybrook.edu/~ktm/courses/cse101/colab_files/prices2.csv):
  * soda,1.25
  * chicken,1.19
  * onion, 1.5
  * bread,2.45
  * oranges,1.89
  * apples,2.23

Contents of [`prices3.csv`](https://www.cs.stonybrook.edu/~ktm/courses/cse101/colab_files/prices3.csv):

  * Honey,.38
  * Maple Syrup,.56
  * Free Rice,0.0
  * Tuna,1.49
  * Garlic,2.99
  * Ginger,3.99

Function Call | Return Value
:-- | :--
`'prices1.csv', [('bananas', 6), ('soda', 2), ('pizza', 2), ('tomatoes', 19), ('bananas',7)]` | `45.68999999999999`
`'prices2.csv', [('bananas', 6), ('soda', 2), ('pizza', 2)]` | `2.5`
`'prices1.csv', [('pizza', 2), ('coffee', 10]` | `0.0`
`'prices2.csv', []` | `0.0`
`'prices3.csv', [('Tuna', 8), ('bananas', 3), ('Ginger', 2), ('Garlic', 9)]` | `46.81`

In [ ]:
def shopping_cart(file_name, orders):
    import csv

    store = {}
    total = 0.0

    with open(file_name) as infile:
        reader = csv.reader(infile)
        for row in reader:
            store[row[0]] = float(row[1])

    for item in orders:
        if item[0] in store:
            total += float(item[1])*store[item[0]]

    return total
            

print(shopping_cart('prices1.csv', [('bananas', 6), ('soda', 2), ('pizza', 2), ('tomatoes', 19), ('bananas',7)]))
print(shopping_cart('prices2.csv', [('bananas', 6), ('soda', 2), ('pizza', 2)]))
print(shopping_cart('prices1.csv', [('pizza', 2), ('coffee', 10)]))
print(shopping_cart('prices2.csv', []))
print(shopping_cart('prices3.csv', [('Tuna', 8), ('bananas', 3), ('Ginger', 2), ('Garlic', 9)]))

45.68999999999999
2.5
0.0
0.0
46.81

### How to Submit Your Work

1. Go to the [course website](https://sites.google.com/stonybrook.edu/cse-101/schedule?authuser=0).

1. Click the **Submit** link for this assignment.

1. Type your SBU ID# on the line provided.

1. Press the button marked **Add file**.

1. Click the **My Drive** tab.

1. Click on the file you wish to submit.

1. Hit **Select**.

1. Hit **Submit** to submit your file grading.